*{
    margin:0px;
    padding:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.container{
    width:100%;
    margin:0 auto;
   
}
.header{
    background-color:#F6F9F9;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{

}
.menuArea{

}
.menuArea ul {
   display: flex;
   gap:20px;
}
.menuArea ul li{
   list-style: none;
}.menuArea ul li a{
    text-decoration: none;

    font-size:14px;
    color:#000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    
}

.heroSection{
    text-align: center; 
    background: url('/asset/img/Banner.png'); 
    background-position: center;
    height: 600px;
 
    
    
}
.heroMainArea{
   position:relative;
   top: 150px;
   margin-top:10px;
}
.heroMainArea h1{
    font-size: 97px;
    color: white;
    font-weight: 184px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    margin-bottom: 8px;
}.ber{
    width: 500px;
    margin-bottom: 25px;
    height:1px;
    margin-top: 94px;
    margin: 0 auto;
    background-color: #00BCD4;
}
.heroMainArea p{
    color:white;
    margin-top: 30px;
}
.callBtn{
    
    text-decoration: none;
        
    background: #80808000;
        
    padding: 10px;
        
    position: relative;
        
    top: 62px;

        
    position-top: 132px;

        
    color: white;
        
    border-radius: 4px;
        
    border: 1px solid #00BCD4;
}
.pureDesing{
    background-color: #F6F9F9;
    text-align: center;
   
    padding:30px;
 
}.pureDesing h1{
    font-family: Verdana;
    margin-top: 40px;
    margin-bottom: 20px;;
    font-weight: normal;
}
.pureText{
    width: 761px;
    margin: 0 auto;
    line-height: 25px;
}
.pureText p{
    text-align:center;
    
}
.service{
    display: flex;
    justify-content: space-between;
}